@use "reset";
@use "variables/global";
@use "themes/light";
@use "themes/dark";

.app {
  font: var(--font-m);
  background-color: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.content-page {
  display: flex;
}

.page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}